<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhengdianfang.samplingpad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".task.tasklist.MyTaskListActivity"></activity>
        <activity android:name=".task.canot_verify.CanotVerifyReasonActivity"></activity>
        <activity android:name=".normal_product.NormalProductSamplingTableActivity"></activity>
    </application>

</manifest>